
.basicInfoContainer{
  margin-top: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  background-color: darkcyan;
}

.basicInfo{
 min-height:140px;
 width: 100%;
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: space-around;
 border: solid thin white;
 color: aliceblue;
 text-transform: uppercase;
 padding: 12px;
}

.basicInfoTitle{
  font-size: 16px;
  color: black;
}

.icon{
  width: 36px;
  height: 36px;
  padding: 12px;
  border: solid thin #ddd;
  background-color: yellowgreen;
  border-radius: 50%;

  /* padding-right: 16px; */
}
